#menu {
  font-family: monospace;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#menu div,
#menu div.label {
  display: flex;
}
#menu button,
#menu div.label {
  padding: 10px;
  justify-self: flex-end;
  display: flex;
  background: #00000066;
}
#menu button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: inherit;
  font-size: inherit;
  background: #00000066;
  cursor: pointer;
}
.submitButton {
  cursor: pointer;
}

#menu .p5button:hover {
  color: var(--p5);
}
#menu .p5button.active {
  color: #ffffff;
  background: var(--p5-bg);
}
#menu .hydrabutton:hover {
  color: var(--hydra);
}
#menu .hydrabutton.active {
  color: #ffffff;
  background: var(--hydra-bg);
}
#menu .videobutton:hover {
  color: var(--video);
}
#menu .videobutton.active {
  color: #ffffff;
  background: var(--video-bg);
}

#infobutton:hover {
  color: var(--info);
}
#infobutton.active {
  color: #ffffff;
  background: var(--info-bg);
}
#titlebutton:hover {
  color: var(--title);
}
#titlebutton.active {
  color: #ffffff;
  background: var(--title-bg);
}
#infobutton {
  justify-self: flex-end;
}

#editlabel {
  margin-left: 2em;
}
