div#controls {
  padding: 20px;
  display: block;
  background: #00000088;
  font-size: larger;
}
div#controls div#blends {
  display: block;
  margin-top: 20px;
}
div#controls div#filters {
  display: block;
  margin-top: 20px;
}
div#controls div#midi {
  display: block;
  margin-top: 20px;
}
div#controls {
  font-family: monospace;
}
div#sourceToggles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
div#blends label {
  margin-right: 1em;
}
div#blends {
  display: flex;
}
