div#controls {
  padding: 20px;
  display: block;
  /*background: #00000088;*/
}
div#controls div#blends {
  display: block;
  margin-top: 20px;
}
div#controls div#filters {
  display: block;
  margin-top: 20px;
}
div#controls div#midi {
  display: block;
  margin-top: 20px;
}
div#controls {
  font-family: monospace;
}
div#blends label {
  margin-right: 1em;
}
div#blends {
  display: flex;
}
div#mixer {
  display: flex;
  justify-content: space-around;
  font-size: large;
}
div#mixer > div {
  width: 50%;
  padding: 0 1em 1em 1em;
  display: flex;
}
div#mixer > div > div > div {
  background: #000000;
}
div#mixer input {
  background: #000000;
  padding: 4em;
}
div#mixer label {
  background: #000000;
  border: 2px solid black;
}
span.mixerLabel {
  background: #000000;
  padding: 2px;
}
