@font-face {
  font-family: "Dosis";
  src: local("Dosis"),
    url("assets/Dosis-VariableFont_wght.ttf") format("TrueType");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  color: white;
}
canvas {
  display: block;
}
main {
  width: 100%;
  margin: 0 auto;
}

/*
* Menu
*/
#menu {
  font-family: monospace;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#menu div,
#menu div.label {
  display: flex;
}
#menu button,
#menu div.label {
  padding: 10px;
  justify-self: flex-end;
  display: flex;
  background: #00000066;
}
#menu button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: inherit;
  font-size: inherit;
  background: #00000066;
  cursor: pointer;
}
.submitButton {
  cursor: pointer;
}

#menu .p5button:hover {
  color: #ed225d;
}
#menu .p5button.active {
  color: #ffffff;
  background: #ed225d33;
}
#menu .hydrabutton:hover {
  color: #69beef;
}
#menu .hydrabutton.active {
  color: #ffffff;
  background: #69beef33;
}
#menu .videobutton:hover {
  color: #ff00ff;
}
#menu .videobutton.active {
  color: #ffffff;
  background: #ff00ff33;
}

#infobutton:hover {
  color: #009900;
}
#infobutton.active {
  color: #ffffff;
  background: #00990033;
}
#titlebutton:hover {
  color: #ffff00;
}
#titlebutton.active {
  color: #ffffff;
  background: #ffff0033;
}
#infobutton {
  justify-self: flex-end;
}

/*
* Live code editor
*/
.CodeMirror {
  line-height: 1.4;
  font-size: large;
}

.code {
  font-family: monospace;

  background-color: #ccc;
  color: #333;
  padding: 2px;
}
.cm-s-default,
.CodeMirror-gutters {
  background-color: #00000000;
  color: white;
  border: 0;
}
.cm-s-tomorrow-night-eighties .CodeMirror-gutters {
  background-color: #00000000;
}
.CodeMirror-line span {
  /*background-color:#00000099 !important;*/
  /*padding:2px;*/
  font-size: large;
}
.cm-property {
  color: purple;
}
.cm-variable {
  color: green;
}
.cm-comment {
  color: #9b9b9b;
}

/*
* Welcome screen
*/
div#welcome {
  display: block;
  position: relative;
  background: #000000;
  padding: 20px;
}
span#title {
  font-family: "Dosis", sans-serif;
}
div#archive {
  color: #aaa;
  margin-top: 40px;
  display: none;
}
div#archive a {
  color: #666;
  font-size: x-large;
  text-decoration: none;
}
div#archive a:hover {
  color: #fff;
}
a#ghlink {
  text-decoration: none;
  color: #aaa;
}
a#ghlink:hover {
  color: #fff;
}

/*
* Main output
*/
canvas#out1 {
  margin: 0 auto;
  border: 0px solid black;
  background: #000;
  float: left;
  clear: both;
  position: fixed;
  z-index: -5;
}
div#nocursor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#manual {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: x-large;
}
div#manual div {
  background: #000000;
  padding: 20px;
  display: block;
  position: relative;
}
div#empty {
  width: 100%;
}

/*
* Controls
*/
div#controls {
  padding: 20px;
  display: block;
  /*float:left;
  clear:both;*/
  background: #00000088;
  font-size: larger;
}
div#controls div.panel {
  /*display:block;
  float:left;*/
}
div#controls div#blends {
  display: block;
  /*float:left;
  clear:left;*/
  margin-top: 20px;
}
div#controls div#filters {
  display: block;
  /*float:left;
  clear:left;*/
  margin-top: 20px;
}
div#controls div#midi {
  display: block;
  /*float:left;
  clear:left;*/
  margin-top: 20px;
}
div#midi input {
  width: 50px;
}

/*
* Sources viewer
*/
div#srcHeader {
  width: 100%;
  display: none;
  /*float:left;
  clear:both;*/
  background: #00000088;
  color: #fff;
  padding: 5px 0;
  margin: 5px 0;
  text-align: center;
}
div#controls {
  font-family: monospace;
}
div.inputSrc {
  /*display:block;
  float:left; */
}
div.inputDiv {
  margin-bottom: 20px;
  /*display:block;
  float:left; */
}
canvas.inputSrc {
  width: 360px;
  /*display:block;
  float:left;*/
}
canvas.p5Canvas {
  width: 360px !important;
  height: 200px !important;
}
video.inputSrc {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
  /*float:left;*/
}
div.srcDiv {
  /*display:block;
  float:left;*/
}
div.srcLabel {
  display: block;
  /*float:left; */
  z-index: 100;
  font-size: x-large;
}
div.inputDiv button {
  border: 0;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background: #00000000;
  padding: 5px 10px;
}
div.inputDiv button:hover {
  background: #000000ff;
}
div#sourceToggles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
div#srcPreviews {
  background: #00000088;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
}
div#srcPreviews .inputDiv {
  margin: 0 15px;
}

.inputDiv {
  position: relative;
}
.inputDiv .srcLabel {
  font-family: monospace;
  background: #00000055;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
}

div#videoeditor,
.addedVideoEditor {
  font-family: monospace;
  padding: 20px;
  display: flex;
  justify-content: center;
}
div#videoeditor input,
.addedVideoEditor input {
  background: #00000066;
  border: 1px solid #aaaaaa66;
  padding: 20px;
  color: white;
  font-family: monospace;
  font-size: 16px;
}

#editlabel {
  margin-left: 2em;
}

#vidUpload:focus {
  outline: 0;
}
